@use "./variables" as *;

html {
  height: -webkit-fill-available;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: -webkit-fill-available;
  font-size: 1vw;
  background-color: $fondo;
}
