// colors
$fondo: #f9fafb;

$gris_claro: #89837f;

$gris: #5d5750;

$negro: #252220;

$naranja: #ec7000;

$azul: #106eb0;

$sombra: 0px 8px 16px rgba(86, 80, 76, 0.04),
  0px 2px 16px rgba(86, 80, 76, 0.04), 0px 1px 4px rgba(86, 80, 76, 0.04);
